<h2>Editing Book</h2>

  <%= form_with model: @book,local:true do |f|%>

    <h4>Title</h4>
      <%= f.text_field:title %>

    <h4>body</h4>
      <%= f.text_area:body %>

     <br><%= f.submit'Update Book'%>
  <% end %>
     <br><p><%= link_to "show",book_path(@book.id) %>|<%= link_to "back",books_path %></p>

<% if @book.errors.any? %>
  <%= @book.errors.count%>error prohibited this book from being saved:
  <% @book.errors.full_messages.each do |message|%>
   <%= message %>
<% end %>

 <% end %>

 <h2>プロフィール編集</h2>
<%= form_with model: @user, local:true do |f| %>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
  <label for="inputImage">Image</label>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
   <label for="inputName">Introduction</label>
  <%= f.text_area :name, autofocus: true, id:"introduction", placeholder:"自己紹介"%>

  <%= f.submit "変更を保存" %>

<% end %>